<!doctype html>

<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <!-- open graph protocal -->
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}"> {% endif %} 
    {% if page.image %}
    <meta property="og:image" content="{{ site.url }}/img/{{ page.image }}"> {% endif %}

    <!-- import jquery -->
    <script src="/script/jquery-2.1.4.min.js"></script>

    <!-- Auto Resizing Youtube Video. https://github.com/davatron5000/FitVids.js -->
    // <script src="/script/jquery.fitvids.js"></script>
    // <script>
    //   $(document).ready(function(){
    //     // Target your .container, .wrapper, .post, etc.
    //     $("#post").fitVids();
    //   });
    // </script>

    <!--  -->
    <link rel="stylesheet" href="/css/syntax.css" />
    <link rel="stylesheet" href="/css/default.css">

    <title>{{ page.title }}</title>

    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-41378150-2', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
    </script>

</head>

<body>

    <div class="site">

        {{ content }}

    </div>

</body>
<html>
